<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Checkout Sample</title>
    <meta name="description" content="A demo of Stripe Payment Intents" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>


<style>
.button{
    margin-left: 100px; 
}
</style>
  </head>

  <body>
    <div class="sr-root">
      <div class="sr-main">
        <header class="sr-header">
          <div class="sr-header__logo"></div>
        </header>
        <section class="container">
          <div>
            <h1>T-Shirt</h1>
            <h4>Adidas Comfortable cotton t-shirt</h4>
            <div class="pasha-image">
              <img
                src="https://assets.adidas.com/images/w_600,f_auto,q_auto:sensitive,fl_lossy/c0b5234b4053469285dea83500d56eda_9366/Camiseta_3_Stripes_Branco_CW1203_01_laydown.jpg"
                width="140"
                height="160"
              />
            </div>
          </div>
          <form action="/create" method="POST">
          <button class="button">
            Buy for $<span id="total">5</span>.00
          </button>
        </form>
        </section>
        <div id="error-message"></div>
      </div>
    </div>

    <script>
   
    </script>
  </body>
</html>
